/InspectorLestrade.class
/InspectorLestradeTest.class
/JohnSmith.class
/JohnSmithTest.class
/MissStealthy.class
/MissStealthyTest.class
/MrJackCharacter.class
/SirWilliamGull.class
/SirWilliamGullTest.class
/GameCharacter.class
/Ability.class
/SpecialAbility.class
/BasicCharacter.class
/Madame.class
/JosephLane.class
/InspectorAbberline.class
/MrJackCharacterDec.class
/RestrictedMovementDec.class
